# Deep Learning Challenge - Optimise the Model (Step 3)

## Step 3: Optimize the Model

Using your knowledge of TensorFlow, optimize your model to achieve a target predictive accuracy higher than 75%.

Using any or all of the following methods to optimize your model:

* Adjust the input data to ensure that no variables or outliers are causing confusion in the model, such as:
  * Dropping more or fewer columns.
  * Creating more bins for rare occurrences in columns.
  * Increasing or decreasing the number of values for each bin.
* Add more neurons to a hidden layer.
* Add more hidden layers.
* Use different activation functions for the hidden layers.
* Add or reduce the number of epochs to the training regimen.

**Note**: If you make at least three attempts at optimizing your model, you will not lose points if your model does not achieve target performance.

1. Create a new Jupyter Notebook file and name it `AlphabetSoupCharity_Optimzation.ipynb`.

2. Import your dependencies and read in the `charity_data.csv` to a Pandas DataFrame.

3. Preprocess the dataset like you did in Step 1, Be sure to adjust for any modifications that came out of optimizing the model.

4. Design a neural network model, and be sure to adjust for modifications that will optimize the model to achieve higher than 75% accuracy.

5. Save and export your results to an HDF5 file. Name the file `AlphabetSoupCharity_Optimization.h5`.

## Preprocess the Data

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

### Adjusting the input data
Dropping a few more more columns.

In [4]:
# Drop the columns that may bring noise or outliers to the model: 'ASK_AMT', 'SPECIAL_CONSIDERATIONS'
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 528
application_types_to_replace = []

for app_type in application_type_counts.index:
    if application_type_counts[app_type] < cutoff:
        application_types_to_replace.append(app_type)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_classification_counts = application_df['CLASSIFICATION'].value_counts()
application_classification_counts.loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 20
classifications_to_replace = []

for app_classification in application_classification_counts.index:
    if application_classification_counts[app_classification] < cutoff:
        classifications_to_replace.append(app_classification)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      207
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [10]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [11]:
# Identifying a cutoff to of names to replace (assuming < 50)
names_replace = list(name_counts[name_counts<50].index)
names_replace

['AMERICAN YOUTH FOOTBALL INC',
 'AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC',
 'MUSIC TEACHERS NATIONAL ASSOCIATION INC',
 'INTERNATIONAL MOUNTAIN BICYCLING ASSOCIATION - COLORADO',
 'MARINE CORPS LEAGUE',
 'CLEAR CREEK ISD GROUPS',
 'DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S',
 'ALABAMA FEDERATION OF WOMENS CLUBS',
 'POP WARNER LITTLE SCHOLARS INC',
 'VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA',
 'UNITED MINE WORKERS OF AMERICA INTERNATIONAL',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO',
 'MODERN QUILT GUILD INC',
 'VFW AUXILIARY DEPARTMENT OF MISSISSIPPI',
 'AMVETS',
 'FRATERNAL ORDER OF EAGLES',
 'NATIONAL FEDERATION OF MUSIC CLUBS',
 'NATIONAL ASSOCIATION OF TEACHERS OF SINGING INC',
 'SOCIETY OF WOMEN ENGINEERS',
 'KIWANIS INTERNATIONAL INC',
 'DEPT OF GEORGIA LADIES AUXILIARY TO THE VFW OF THE UNITED STATES',
 'DEPARTMENT OF ALABAMA AUXILIARY TO THE VFW OF THE U S',
 'PTA CALIFORNIA CONGRESS OF PARENTS TEACHERS & STUDENTS INC',
 'UNITED STATES PONY CLUBS INC',
 'LOUISIANA 4-H FOUNDATION',
 'AMERICAN FEDERATION OF STATE COUNTY & MUNICIPAL EMPLOYEES',
 'DEPARTMENT OF NEW MEXICO VETERANS OF FOREIGN WARS OF THE US AUXILIAR',
 'ALTRUSA INTERNATIONAL FOUNDATION INC',
 'NATIONAL SOCIETY OF THE DAUGHTERS OF THE AMERICAN REVOLUTION',
 'ALABAMA TREASURE FOREST ASSOCIATION',
 'BABYWEARING INTERNATIONAL INC',
 'AMERICAN LEGION',
 'AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES',
 'DAUGHTERS OF UNION VETERANS OF THE CIVIL WAR 1861-1865',
 'ROAD RUNNERS CLUB OF AMERICA',
 'ASSOCIATION OF CIVILIAN TECHNICIANS INC',
 'INDEPENDENT ORDER OF ODD FELLOWS',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY DEPARTMENT',
 'OPTIMIST INTERNATIONAL',
 'CALIFORNIA TEACHERS ASSOCIATION',
 'AMERICAN LEGION AUXILIARY',
 'FUTURE FARMERS OF AMERICA AND ITS STATE ASSOCIATIONS & LOCAL CHAPTER',
 'KNIGHTS TEMPLAR OF THE UNITED STATES OF AMERICA',
 'UNITED OSTOMY ASSOCIATION OF AMERICA INC',
 'DAUGHTERS OF ESTHER FELLOWSHIP INTERNATIONAL MINISTRIES INC',
 'FUTURE FARMERS OF AMERICA STATE ASSOCIATIONS & LOCAL CHAPTER',
 'INTERNATIONAL FEDERATION OF FLY FISHERS INC',
 'BETTER WORLD FUND',
 'DEPARTMENT OF WYOMING VFW AUXILIARY',
 'DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE U S INC',
 'CALIFORNIA STATE CHAPER WOMENS COUNCIL OF REALTORS',
 'CALIFORNIA STATE UNIVERSITY EMPLOYEES UNION',
 'NATIONAL INSTITUTE OF GOVERNMENTAL PURCHASING INC',
 'EXECUTIVE WOMENS GOLF ASSOCIATION INC',
 'TAU KAPPA EPSILON FRATERNITY INC',
 'CALIFORNIA HIGHWAY PATROL EXPLORER PROGRAM',
 'AMERICAN COLLEGE OF HEALTHCARE EXECUTIVES',
 'AMERICAN STUDENT DENTAL ASSOCIATION',
 'THE OREGON STATE FEDERATION OF GARDEN CLUBS INC',
 'DEPARTMENT OF ALABAMA VETERANS OF FOREIGN WARS OF THE UNITED STATES',
 'FRATERNAL ORDER OF POLICE',
 'AMERICAN IRIS SOCIETY',
 'ARIZONA FEDERATION OF GARDEN CLUBS',
 'ALPHA PHI SIGMA INC',
 'AMERICAN CHRISTIAN FICTION WRITERS INC',
 'FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA',
 'OREGON 4-H FOUNDATION',
 'GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC',
 'DISABLED AMERICAN VETERANS AUXILIARY INC',
 'TEXAS MASTER GARDENER ASSOCIATION INC',
 'FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION',
 'UNITED STEELWORKERS',
 'HOLIDAY RAMBLER RECREATIONAL VEHICLE CLUB INC',
 'ASSOCIATION OF PROFESSIONAL GENEALOGISTS',
 'US LACROSSE INC',
 'SOCIETY FOR PRESERVATION & ENCRGMNT OF BARBERSHOP QUARTET SINGING AMER',
 'RVING WOMEN',
 'WEST HOUSTON AQUATIC LEAGUE INC',
 'NATIONAL ASSOCIATION OF CHARITABLE GIFT PLANNERS',
 'INFRAGARD NATIONAL MEMBERS ALLIANCE INC',
 'TEXAS STATE TEACHERS ASSOCIATION',
 'ASSOCIATION OF OPERATING ROOM NURSES INC',
 'DOBERMAN PINSCHER CLUB OF AMERICA',
 'NATIONAL COUNCIL OF JEWISH WOMEN INCORPORATED',
 'VETERANS FOR PEACE INC',
 'M W PRINCE HALL GRAND LODGE FREE AND ACCEPTED MASONS OF LOUISIANA',
 'SOUTHERN OFF-ROAD BICYCLE ASSOCIATION',
 'HEARING LOSS ASSOCIATION OF AMERICA INC',
 'ZETA PHI BETA SORORITY INC',
 'ASSOCIATION FOR VASCULAR ACCESS',
 'FREE & ACCEPTED MASONS OF CALIFORNIA',
 'ASSOCIATION FOR PROFESSIONALS IN INFECTION CTRL & EPIDEMIOLOGY INC',
 'VETERANS OF FOREIGN WARS DEPARTMENT OF KANSAS LADIES AUXILIARY',
 'THE UNITED STATES PONY CLUB INC',
 'NATIONAL ASSOCIATION OF SCHOLARS',
 'EMERGENCY NURSES ASSOCIATION',
 'SIGMA THETA TAU INTERNATIONAL INC',
 'SPARTAN ATHLETIC CLUB',
 'JAMESTOWNE SOCIETY',
 'THETA TAU',
 'DEPARTMENT OF UTAH LADIES AUXILIARY TO THE VETERANS OF FOREIGN WARS OF',
 'INTERNATIONAL CONGRESS OF CHURCHES AND MINISTERS',
 'ACE MENTOR PROGRAM OF AMERICA INC',
 'NATURAL MEN AND NATURAL WOMEN ORGANIZATION INC',
 'CALIFORNIA ASSOCIATION FOR THE EDUCATION OF YOUNG CHILDREN',
 'ASSOCIATION OF TRADITIONAL HOOKING ARTISTS',
 'LAKE TRABIS ATHLETIC BOOSTER CLUB INC',
 'CALIFORNIA FEDERATION OF WOMENS CLUBS',
 'INTERNATIONAL ASSOCIATION OF LIONS CLUB',
 'NATIONAL KITCHEN & BATH ASSOC',
 'MASTER GARDENER ASSOCIATION',
 'INTERNATIONAL BROTHERHOOD OF ELECTRICAL WORKERS',
 'COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN RESOURCES',
 'AMERICANS UNITED FOR SEPARATION OF CHURCH AND STATE',
 'GLOBAL SPORTS ALLIANCE INC',
 'BEAVERHEAD COUNTY 4-H FOUNDATION',
 'ASSOCIATION OF CLINICAL RESEARCH PROFESSIONALS',
 'BOY SCOUTS OF AMERICA',
 'FLORIDA GOVERNMENT FINANCE OFFICERS ASSOCIATION INC',
 'NATIONAL SOCIETY DAUGHTERS OF COLONIAL WARS INC',
 'UNITED STATE PONY CLUBS INC',
 'AMERICAN ART THERAPY ASSOCIATION INC',
 'DEPARTMENT OF MONTANA LADIES AUXILIARY TO THE VFW OF THE U S',
 'LA LECHE LEAGUE OF WASHINGTON',
 'INTERNATIONAL ORDER OF THE RAINBOW GIRLS',
 'CONSTRUCTION OWNERS ASSOCIATION OF AMERICA INC',
 'WOMEN IN AVIATION INTERNATIONAL',
 'GRANGE OF THE STATE OF CA ORDER OF PATRONS OF HUSBANDRY CHARTER',
 'ANCIENT FREE & ACCEPTED MASONS OF KANSAS',
 'CHEVRON RETIREES ASSOCIATION',
 'SIGMA PHI LAMBDA INC',
 'TROUT UNLIMITED',
 'LOUISIANA GARDEN CLUB FEDERATION',
 'PHI BETA PSI SORORITY',
 'INTERNATIONAL ASSOCIATION OF MACHINISTS & AEROSPACE WORKERS',
 'AMERICAN FEDERATION OF LABOR & CONGRESS OF INDUSTRIAL ORGS',
 'ZONTA INTERNATIONAL',
 'YOUNG ENTREPRENEURS ORGANIZATION',
 'SAN RAMON VALLEY EDUCATION FOUNDATION',
 'LOUSIANA GARDEN CLUB FEDERATION INC',
 'AMIGOS DE LAS AMERICAS',
 'AMERICAN WATER WORKS ASSOCIATION',
 'PROJECT MANAGEMENT INSTITUTE',
 'SLOW FOOD U S A INC',
 'AMERICAN POSTAL WORKERS UNION',
 'NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC',
 'PEARLAND LADY OILER GOLF BOOSTER CLUB',
 'FINANCIAL PLANNING ASSOCIATION',
 'USA SWIMMING INC',
 'SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC',
 'SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER',
 'SONS OF ITALY IN AMERICA',
 'FELLOWSHIP OF CHRISTIAN COWBOYS INC',
 'CALIFORNIA WOMENS CHORUS',
 'DISTRICT 21 AMERICAN CONTRACT BRIDGE LEAGUE',
 'UNION OF CALIFORNIA STATE WORKERS',
 'BOYS TEAM CHARITY INC',
 'ANCIENT AND FREE ACCEPTED MASONS OF MISSOURI',
 'FREE & ACCEPTED MASONS OF WASHINGTON',
 'STEVES CLUB NATIONAL PROGRAM',
 'CASCADE 4-H FOUNDATION',
 'AMERICAN COLLEGE OF NURSE-MIDWIVES',
 'CENTERS FOR SPIRITUAL LIVING',
 'LA LECHE LEAGUE INTERNATIONAL INC',
 'NEW MEXICO GARDEN CLUBS INC',
 'ASIAN PACIFIC AMERICAN INTERNAL REVENUE EMPLOYEES',
 'NATIONAL ASSOCIATION OF LETTER CARRIERS',
 'AMERICAN FEDERATION OF LABOR AND CONGRESS OF INDUSTRIAL ORGS',
 'NATIONAL ASSOCIATION OF HISPANIC NURSES',
 'SNOHOMISH HIGH SCHOOL PANTHER PARENTS CLUB',
 'GENERAL FEDERATION OF WOMENS CLUB',
 'HEALTH CARE FOR ALL-CALIFORNIA',
 'PHI ETA SIGMA NATIONAL HONOR SOCIETY INC',
 'RECREATION CENTERS OF SUN CITY INC',
 'ASSOCIATION OF SCHOOL BOOSTER CLUBS',
 'INTERNATIONAL SOCIETY DAUGHTERS OF UTAH PIONEERS',
 'SOUTHERN OFF ROAD BICYCLE ASSOCIATION',
 'OREGON EDUCATION ASSOCIATION',
 'NATIONAL CHRISTIAN CHARITABLE FOUNDATION INC',
 'NATIONAL COUNCIL OF NEGRO WOMEN INC',
 'INDEPENDENT ELECTRICAL CONTRACTORS INC',
 'PAGAN PRIDE PROJECT INC',
 'TUSKEGEE AIRMEN INC',
 'ALPHA PHI OMEGA',
 'SEATTLE CHILDRENS HOSPITAL',
 'FBI NATIONAL CITIZENS ACADEMY ALUMNI ASSOCIATION INC',
 'UNITED OSTOMY ASSOCIATIONS OF AMERICA INC',
 'AMERICAN CHEMICAL SOCIETY',
 'MILITARY ORDER OF THE WORLD WARS',
 'PTA FLORIDA CONGRESS',
 'NATIONAL LEAGUE OF YOUNG MEN INC',
 'AMERICAN HIBISCUS',
 'AMERICAN VOLKSSPORT ASSOCIATION INC',
 'THETA NU XI MULTICULTURAL SORORITY INC',
 'QUOTA CLUB INTERNATIONAL INC',
 'AMERICAN INSTITUTE OF GRAPHIC ARTS',
 'AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS',
 'SHRINERS INTERNATIONAL',
 'PTA OKLAHOMA CONGRESS',
 'VICTORY NEW TESTAMENT FELLOWSHIP INTERNATIONAL',
 'NATIONAL NETWORK OF ABORTION FUNDS',
 'NATIONAL LEAGUE OF AMERICAN PEN WOMEN INC',
 'LEWIS AND CLARK TRAIL HERITAGE FOUNDATION INC',
 'GEORGIA EXTENSION 4-H FOUNDATION',
 'SOCIETY FOR CREATIVE ANACHRONISM INC',
 'PHI DELTA EPSILON MEDICAL FRATERNITY INC',
 'WYOMING CONGRESS OF PARENT AND TEACHERS ASSOCIATION',
 'ALPHA SIGMA PHI FRATERNITY INC',
 'CIRCLE K INTERNATIONAL INC',
 'ICE AGE FLOODS INSTITUTE',
 'YOUNG PROFESSIONALS IN TRANSPORTATION',
 'UNITED DAUGHTERS OF THE CONFEDERACY',
 'VIETNAM VETERANS OF AMERICA INC',
 'NATIONAL SOCIETY DAUGHTERS OF THE BRITISH EMPIRE IN THE UNITED STATE',
 'CAJUN FRENCH MUSIC ASSOCIATION OF LOUISIANA INC',
 'SOUTHERN CALIFORNIA OUTRIGGER RACING ASSOCIATION',
 'JAPANESE AMERICAN CITIZENS LEAGUE',
 'WOMENS OVERSEAS SERVICE LEAGUE',
 'HOLIDAY RAMBLER RECREATIONAL VECHICLE CLUB INC',
 'FALLON COUNTY 4-H COUNCIL',
 'VFW AUXILIARY DEPT OF HAWAII',
 'CHIEF WARRANT & WARRANT OFFICERS ASSOCIATION U S COAST GUARD',
 'COMMUNICATION WORKERS OF AMERICA',
 'TANNER MEDICAL CENTER',
 'BLUE KNIGHTS MOTORCYCLE CLUB',
 'INTERNATIONAL ASSOCIATION OF JEWISH GENEALOGICAL SOCIETIES INC',
 'SPIRITHORSE THERAPEUTIC RIDING CENTER',
 'HOUSTON SQUARE & ROUND DANCE COUNCIL',
 'EMMAUS CALLING INC',
 'RURAL COMMUNITY HOUSING DEVELOPMENT CORPORATION',
 'NATL SOCIETY WOMEN DESCENDANTS OF THE ANCIENT & HONORABLE ARTILLERY',
 'ASSOCIATES OF VIETNAM VETERANS OF AMERICA INC',
 'UNITED STATES FENCING ASSOCIATION',
 'ESCAPEES SOCIAL NETWORK',
 'BARNABAS GROUP INC',
 'ORDER OF THE AMARANTH INC',
 'KIRKWOOD SCHOOL DISTRICT PARENT TEACHER ORGANIZATIONAL COUNCIL',
 'BEREAVED PARENTS OF THE USA',
 'TEXAS GARDEN CLUBS INC',
 'AACE INTERNATIONAL',
 'INTERNATIONAL ASSOCIATION FOR PUBLIC PARTICIPATION USA',
 'NATIONAL COUNCIL OF TEACHERS OF ENGLISH',
 'MYTEAM TRIUMPH INC',
 'THETA TAU FRATERNITY',
 'ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION',
 'VETERANS OF FOREIGN WARS DEPARTMENT OF CALIFORNIA',
 'NU RHO PSI-THE NATIONAL HONOR SOCIETY IN NEUROSCIENCE',
 'RCI INC',
 'CONCERNS OF POLICE SURVIVORS',
 'THETA CHI EPSILON SORORITY OF N A',
 'CREATIVE OPPORTUNITIES UNLIMITED',
 'NATIONAL ASSOCIATION OF CORPORATE DIRECTORS',
 'CHRISTIAN MEDICAL & DENTAL SOCIETY',
 'TEXAS 4-H',
 'NATIONAL SOCIETY COLONIAL DAUGHTERS OF THE SEVENTEENTH CENTURY',
 'ZETA PHI BETA SORORITY',
 'US COMMITTEE FOR UN FUND FOR WOMEN INC',
 'TENNESSEE FOSTER CARE ASSOCIATION INC',
 'NATIONAL KAPPA KAPPA IOTA INC',
 'KAPPA KAPPA PSI FRATERNITY',
 'UNIVERSITY OF FLORIDA ALUMNI ASSOCIATION INC',
 'NATIONAL SOCIETY OF THE SONS OF THE AMERICAN REVOLUTION',
 'NATIONAL RURAL LETTER CARRIERS ASSOCIATION',
 'NATIONAL CHARITY LEAGUE',
 'KIWANIS INTERNATIONAL',
 'OFFICE AND PROFESSIONAL EMPLOYEES INTERNATIONAL UNION',
 'MENNONITE DISASTER SERVICE',
 'AMERICAN INDEPENDENT BUSINESS ALLIANCE',
 'FULBRIGHT ASSOCIATION INC',
 'THE INTERIOR DESIGN SOCIETY INC',
 'QUAIL FEDERATION INC',
 'WASHINGTON SOCIETY OF PROFESSIONAL ENGINEERS',
 'FREE & ACCEPTED MASONS OF TENNESSEE',
 'FLEET RESERVE ASSOCIATION',
 'DAUGHTERS OF CHARITY HEALTH SYSTEM',
 'NATIONAL CHARITY LEAGUE INC',
 'THE READING FOUNDATION',
 'INTERNATIONAL CONGRESS OF CHURCHES MINISTERS',
 'DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US',
 'PARENTS OF MURDERED CHILDREN',
 'PUBLIC RELATIONS COUNCIL OF ALABAMA',
 'JACKSONVILLE DISTRICT COUNCIL SOCIETY OF ST VINCENT DE PAUL INC',
 'UNITED STATES POWER SQUADRONS',
 'HANDS FOR LIFE',
 'GOLD WING ROAD RIDERS ASSOCIATION',
 'FREE & ACCEPTED MASONS OF GEORGIA',
 'SOCIETY FOR CREATIVE ANACHRONISM',
 'REFRIGERATION SERVICE ENGINEERS SOCIETY',
 'DAMAGE PREVENTION COUNCIL OF TEXAS',
 'MONTANA CONGRESS OF PARENTS TEACHERS STUDENTS',
 'AMERICAN SOCIETY OF ADDICTION MEDICINE INC',
 'BETA BETA BETA BIOLOGICAL SOCIETY',
 'DELTA KAPPA GAMMA SOCIETY INTERNATIONAL',
 'HUGH OBRIAN YOUTH LEADERSHIP',
 'EAST VIEW SPORTS COALITION',
 'FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC',
 'HABITAT FOR HUMANITY INTERNATIONAL',
 'TEXAS FEDERATION OF WOMEN CLUBS',
 'OLD OAK CLIFF CONSERVATION LEAGUE INC',
 'AMERICAN NEPHROLOGY NURSES ASSOCIATION',
 'HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC',
 'PROFESSIONAL LOADMASTER ASSOCIATION',
 'CBMC INC',
 'FLORIDA FAMILY CHILD CARE HOME ASSOCIATION INC',
 'GERONTOLOGICAL ADVANCED PRACTICE NURSES ASSOCIATION',
 'INTERNATIONL TRANSPLANT NURSES SOCIETY',
 'NATIONAL ORGANIZATION FOR WOMEN INC',
 'PTA HAWAII CONGRESS',
 'HIGH TWELVE INTERNATIONAL',
 'CHILDRENS HEART FOUNDATION',
 'INTERNATIONAL ORDER OF THE RAINBOW GIRLS THE SUPREME ASSEMBLY',
 'UNITED ASSOCIATION OF JOURNEYMEN & APPRENTICES OF THE PLUMBING & PIPE',
 'WARRIOR BROTHERHOOD OF VETERANS MOTORCYCLE CLUB INC',
 'CHC COMMUNITY CARE LLC',
 'DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE US INC',
 'RISK MANAGEMENT ASSOCIATES FLORIDA CHAPTER CORP',
 'NATIONAL ASSOCIATION OF WATCH AND CLOCK COLLECTORS INC',
 'HARMONY INC',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF COLORADO',
 'AMERICAN-TURKISH ASSOCIATION OF SOUTHERN CALIFORNIA',
 'NATIONAL ASSOCIATION OF COMPOSERS USA',
 'HERITAGE ACADEMY INC',
 'COUNTRY DANCE AND SONG SOCIETY INC',
 'NATIONAL HUGUENOT SOCIETY',
 'FATHER FLANAGANS BOYS HOME',
 'VETERANS OF FOREIGN WARS OF THE US DEPT OF TEXAS AUXILIARY',
 'FAMILY MOTOR COACH ASSOCIATION',
 'FEDERATED GARDEN CLUBS OF MISSOURI INC',
 'INTERNATIONAL ASSOCIATION OF FORENSIC NURSES',
 'COUNTRY DANCE & SONG SOCIETY INC',
 'RURITAN NATIONAL CORP',
 'GUILDS OF THE SANTA FE OPERA INC',
 'SOCIETY OF PLASTICS ENGINEERS',
 'SOCIETY FOR MANAGEMENT INFORMATION SYSTEMS',
 'JAMESTOWN SOCIETY',
 'LEAGUE OF UNITED LATIN AMERICAN CITIZENS',
 'TEAMSTER HORSEMEN MOTORCYCLE ASSOCIATION INC',
 'PTA GEORGIA CONGRESS',
 'MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS',
 'SIGMA NU FRATERNITY',
 'COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN SERVICES',
 'SOLID WASTE ASSOCIATION OF NORTH AMERICA INC',
 'INTERNATIONAL WOMENS INSOLVENCY & RESTRUCTURING CONFEDERATION INC',
 'ARROW CHILD AND FAMILY MINISTRIES',
 'ROYAL ORDER OF JESTERS',
 'ACTS MINISTRY',
 'ACTS MISSIONS',
 'KAPPA ALPHA PSI FRATERNITY',
 'SOCIETY OF MAYFLOWER DESCENDANTS IN THE STATE OF TEXAS',
 'INTERNATIONAL CONGRESS OF CHURCHES AND MINISTRIES',
 'PENN STATE ALUMNI ASSOCIATION',
 'AMALGAMATED TRANSIT UNION',
 '4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS',
 'TEXAS WATER UTILITIES ASSOCIATION',
 'PARENTS FAMILIES AND FRIENDS OF LESBIANS AND GAYS INC',
 'THE UNITED STATE PONY CLUBS INC',
 'WESTERN GOVERNORS UNIVERSITY',
 'AMERICAN ORFF-SCHULWERK ASSOCIATION',
 'GAMMA PHI BETA SORORITY INC',
 'AMATEUR ATHLETIC UNION OV THE UNITED STATES INC',
 'DEPARTMENT OF OKLAHOMA LADIES AUXILIARY TO THE VFW INC',
 'PILOT CLUB INTERNATIONAL',
 'DELTA CHI NATIONAL HOUSING CORPORATION',
 'SOROPTIMIST INTERNATIONAL TO THE AMERICAS INC',
 'WOODMEN OF THE WORLD LIFE INSURANCE SOCIETY',
 'COMMUNICATION ALLIANCE TO NETWORK THOROUGHBRED EX-RACEHORSES',
 'BLUE STAR MOTHERS OF AMERICA INC',
 'MUSIC TEACHERS NATIONAL ASSOCIATION',
 'YOUNG CATHOLIC PROFESSIONALS',
 'METHODIST RETIREMENT COMMUNITIES',
 'PTA NEW MEXICO CONGRESS',
 'UNITED MINE WORKERS OF AMERICA- INTERNATIONAL',
 'TEXAS EXTENSION EDUCATION ASSOCIATION',
 'VESTAVIA HILLS PARENT TEACHER ORGANIZATION INC',
 'INTERNATIONAL ASSOCIATION OF ASSESSING OFFICERS',
 'DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE US',
 'BAKERY CONFECTIONERY TOBACCO WORKERS AND GRAIN MILLERS INTL UNI',
 'INTERNATIONAL READING ASSOCIATION INC',
 'AMERICAN ROSE SOCIETY',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF LOUISIANA',
 'SWEDISH WOMENS EDUCATIONAL ASSOCIATION',
 'SAFARI CLUB INTERNATIONAL FOUNDATION',
 'INTERNATIONAL ASSOCIATION OF EATING DISORDERS PROFESSIONALS FOUNDATI',
 'NATIONAL ASSOCIATION OF NEGRO BUSINESS AND PROFESSIONAL WOMENS C',
 'NATIONAL HOOK-UP OF BLACK WOMEN',
 'BACK COUNTRY HORSEMEN OF AMERICA',
 'ALASKA PTA',
 'TEXAS STATE BRANCH 948 NATIONAL ASSOCIATION OF POSTAL SUPERVISORS',
 'UTILITY WORKERS UNION OF AMERICA AFL-CIO',
 'COMPUTER USING EDUCATORS',
 'OMEGA PSI PHI FRATERNITY',
 'LIFE STEPS FOUNDATION INC',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF KANSAS',
 'ORDER OF THE EASTERN STAR OF MISSOURI GRAND CHAPTER',
 'AMERICAN SOCIETY OF HEATING REFRIGERATING & A-C ENGINEERS',
 'PHI DELTA KAPP INTERNATIONAL INC',
 'FREE & ACCEPTED MASONS OF LOUISIANA GRAND LODGE',
 'NATIONAL SORORITY OF PHI DELTA KAPPA INC',
 'EPSILON PI TAU INC',
 'TXCPSO INC',
 'JEFFERSON CITY SENIOR HIGH SCHOOL PARENT TEACHERS ORGANIZATION',
 'COMMEMORATIVE AIR FORCE',
 'NATIONAL SOCIETY OF THE CHILDREN OF THE AMERICAN REVOLUTION',
 'TENNESSEE MUSIC EDUCATION ASSOCIATION',
 'ANCIENT FREE AND ACCEPTED MASONS OF OKLAHOMA',
 'LOUISIANA 4-H FOUNDTION',
 'AMATEUR ATHLETIC UNIONS OF THE US',
 'STANDUP PARENTING INC',
 'PUGET SOUND UNISERV COUNCIL',
 'PI KAPPA ALPHA FRATERNITY',
 'KIDS ENJOY EXERCISE NOW',
 'VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF OREGON',
 'KNIGHTS OF PETER CLAVER',
 'IDAHO CHAPLAINS CORPS INC',
 'PTA IDAHO CONGRESS',
 'INDUSTRIAL WORKERS OF THE WORLD',
 'INTELLIGENT TRANSPORTATION SOCIETY OF AMERICA ITS AMERICA',
 'AMERICAN COACH ASSOCIATION',
 'INSTITUTE OF ELECTRICAL AND ELECTRONICS ENGINEERS',
 'EXPERIMENTAL AIRCRAFT ASSOCIATION',
 'SIGMA GAMMA RHO SORORITY INC',
 'JUNIOR ROLLER DERBY ASSOCIATION',
 'SUNRISE 2000 INC',
 'GRAMBLING UNIVERSITY NATIONAL ALUMNI ASSOCIATION',
 'PARAGON CHRISTIAN ALLIANCE INTERNATIONAL INC',
 'OHIO STATE UNIVERSITY ALUMNI ASSOCIATION INC',
 'VERITY HEALTH SYSTEM OF CALIFORNIA INC',
 'INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES',
 'TRAUMA INTERVENTION PROGRAMS INC',
 'WESTERN DRESSAGE ASSOCIATION OF AMERICA',
 'VFW AUXILIARY DEPARTMENT OF MISSOURI',
 'FUTURE FARMERS OF AMERICA',
 'HEALTH OCCUPATIONS STUDENTS OF AMERICA',
 'SERTOMA INTERNATIONAL SPONSORSHIP FUND',
 'THETA XI FRATERNITY',
 'MINDS MATTER',
 'PACIFIC COAST NORWEGIAN SINGERS ASSOCIATION',
 'DAUGHTERS OF ISIS OF NORTH & SOUTH AMERICA',
 'UNITED FOOD AND COMMERCIAL WORKERS INTERNATIONAL UNION',
 'NATIONAL HUMAN RESOURCES ASSOCIATION INC',
 'CALIFORNIA PILOTS ASSOCIATION',
 'THE ARK OF TEXAS',
 'INTERNATIONAL SOCIETY OF AUTOMATION',
 'FEDERALLY EMPLOYED WOMEN INC',
 'TRUSTEES OF DARTMOUTH COLLEGE',
 'OREGON HIGH SCHOOL RODEO ASSOCIATION INC',
 'REAL ESTATE STAGING ASSOCIATION INC',
 'SUPREME TEMPLE PYTHIAN SISTERS',
 'ACADEMY OF GENERAL DENTISTRY',
 'NORTHWEST SWIM CIRCUIT',
 'COLORADO COALITION FOR THE HOMELESS',
 'FLORIDA NATIVE PLANT SOCIETY INC',
 'GYRO INTERNATIONAL',
 'ALLIANCE FOR RETIRED AMERICANS',
 'ASSOCIATION OF SEWING AND DESIGN PROFESSIONALS INC',
 'AMERICAN FISHERIES SOCIETY',
 'WASHINGTON STATE UNIVERSITY 4-H CLUBS AND AFFILIATED 4-H ORGANIZAT',
 'PHI SIGMA KAPPA',
 'NATIONAL ENGINEERS WEEK FOUNDATION',
 'ASSOCIATION OF PROPASAL MANAGEMENT PROFESSIONALS',
 'NATIONAL SPEAKERS ASSOCIATION',
 'ANCIENT FREE & ACCEPTED MASONS OF OREGON',
 'NORTH AMERICAN BUTTERFLY ASSOCIATION INC',
 'ROYAL ARCH MASONS OF KANSAS',
 'STOA',
 'CFIRE CHRISTIAN FUNDAMENTALIST INTERNAL REVENUE EMPLOYEES',
 'UNITED BROTHERHOOD OF CARPENTERS & JOINERS OF AMERICA',
 'LAMBDA ALPHA INTERNATIONAL',
 'PTA TENNESSEE CONGRESS OF PARENTS TEACHERS INC',
 'ORDER OF EASTERN STAR PRINCE HALL AFFILIATION OF LOUISIANA',
 'FLORIDA EDUCATION ASSOCIATION',
 'SMOCKING ARTS GUILD OF AMERICA INC',
 'TEXAS ASSOCIATION OF SCHOOL BUINESS OFFICIALS',
 'UNIVERSITY OF FLORIDA NATIONAL ALUMNI ASSOCIATION INC',
 'PTA ARIZONA CONGRESS OF PARENTS AND TEACHERS INC',
 'TEXAS SOCIETY OF PROFESSIONAL ENGINEERS',
 'LIGHT FOR LIFE FOUNDATION INTERNATIONAL',
 'NATIONAL BLACK NURSES ASSOCIATION INC',

In [12]:
# Replacing the selected names in dataframed
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
application_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [13]:
application_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [14]:
# Generate our categorical variable lists
application_df.dtypes

NAME                object
APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
ASK_AMT              int64
IS_SUCCESSFUL        int64
dtype: object

In [15]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df[application_cat], columns=application_cat)
dummies_df

,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,NAME_CIVITAN INTERNATIONAL,NAME_CLEARCREEK I S D SUPPORT GROUPS,NAME_DEMOLAY INTERNATIONAL,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
# Merging the generated dummies with the data frame, and dropping the originals
application_df = application_df.merge(dummies_df, left_index=True, right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df

,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,NAME_CIVITAN INTERNATIONAL,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
X_train.shape

(25724, 108)

## Compile, Train, and Evaluate the Model

In [21]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=2), activation=activation, input_dim=X_train.shape[1]))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [22]:
!pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras_tuner
  Downloading keras_tuner-1.2.1-py3-none-any.whl (169 kB)
      169.6/169.6 KB 6.6 MB/s eta 0:00:00
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.8/dist-packages (from keras_tuner) (2.11.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from keras_tuner) (2.25.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from keras_tuner) (23.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from keras_tuner) (7.9.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (3.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (0.30.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (3.1.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.21.6)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (23.1.21)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (2.11.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.51.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (0.4.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (3.19.6)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (0.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (57.4.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (2.11.2)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (15.0.6.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.4.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (2.11.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (2.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras_tuner) (4.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (2.6.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
      1.6/1.6 MB 51.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (2.0.10)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->keras_tuner) (5.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->keras_tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->keras_tuner) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->keras_tuner) (4.0.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras_tuner) (0.38.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras_tuner) (0.2.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (2.16.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.4.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (3.12.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras_tuner) (3.2.2)
Installing collected packages: kt-legacy, jedi, keras_tuner
Successfully installed jedi-0.18.2 keras_tuner-1.2.1 kt-legacy-1.0.4

In [23]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    overwrite=True,
    max_epochs=20,
    hyperband_iterations=2,)

In [24]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 51s]
val_accuracy: 0.748921275138855

Best val_accuracy So Far: 0.7641982436180115
Total elapsed time: 00h 23m 52s

In [25]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4855 - accuracy: 0.7642 - 997ms/epoch - 4ms/step
Loss: 0.4854658544063568, Accuracy: 0.7641982436180115

In [26]:
# Export our Optimised model to HDF5 file
best_model.save("AlphabetSoupCharity_Optimization.h5")